.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.item {
  display: flex;
  padding: 12px;
  transition: all .2s;
  cursor: pointer;
}

.item:hover {
  background: #f5f7fa;
}


.item:last-child {
  margin: 0;
}

.content {
  width: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
}

.avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
}

.title {
  display: flex;
}

.title .name {
  font-size: 16px;
  margin: 3px 0;
  font-weight: bold;
}

.title .last_update {
  width: 100%;
  font-size: 14px;
  color: rgba(0,0,0,.50);
  align-self: center;
  text-align: right;
}

.subtitle {
  display: flex;
}

.subtitle .message {
  font-size: 14px;
  color: rgba(0,0,0,.64);
}

.subtitle .notify {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.subtitle .notify .count {
  background-color: #e84747;
  font-size: 14px;
  height: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
}

.table {
  display: flex;
  border: 1px solid;
}

.multiplier__col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.result__col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cell {
  font-size: 18px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.cell:hover {
  background: rgba(0,0,0,.1);
}


.Tableform {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
}

.fields__wrapper {
  display: flex;
}

.Tableform__field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  padding: 5px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
}

.button__wrapper .Tableform__field {
  justify-content: center;
  width: auto;
}

.Tableform__input {
  width: 100%;
}

.sanFrank {
  width: 80px;
  height: 80px;
  flex-shrink: 1;
}

.emptyStateTitle {
  font-size: 16px;
}